#stage_box {
    margin: 30px auto;
}

h1 {
    font-size: 50px
}

.stage_button {
    width: 400px;
    height: 100px;
    color: black;
    border-radius: 30px;
    border: 0;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    transition: all 0.5s;
}

#mode2_button {

}

button:hover {
    transform: scale(90%, 90%);
}